@model IEnumerable<GithubAccessTest.Models.GitResponse>

@{
    ViewBag.Title = "GetGitCommits";
}

<h4 style="text-decoration-color:blue">Git Commits List</h4>

<p>
    @*@Html.ActionLink()*@
</p>
<table class="table table-responsive">
    <tr>
        <th>
           Git Message
        </th>
        <th>
           Commit Date
        </th>        
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.commit.message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.commit.committer.date)
        </td>  
        <td>
            @Html.HiddenFor(modelItem => item.commit.committer.date)
        </td>
        <td>
            @Html.ActionLink("Words Count", "WordsCount", new { message = item.commit.message })|
            @Html.ActionLink("Download in CSV", "DownloadCsv", new { message = item.commit.message })|
            @Html.ActionLink("AVL Tree", "AvlTreeSort", new { message = item.commit.message })
        </td>
    </tr>
}
    
</table>
<div>
    @ViewBag.Node
</div>
