@model Dictionary<string, int>
@{
    ViewBag.Title = "WordsCount";
}

<h3>Words:- @ViewBag.Message</h3>
@Html.ActionLink("Words Count", "WordsCount", new { @ViewBag.Message })
<table class="table">
    <tr>
        <th>
            Word
        </th>
        <th>
            Count
        </th>
    </tr>

    @foreach (KeyValuePair<string, int> word in Model)
    {
        <tr>
            <td>
                @word.Key
            </td>
            <td>
                @word.Value
            </td>
        </tr>
    }

</table>